html, body {
	font-family: Tahoma, Georgia, Arial;
	font-size: 13px;
	margin-top: 5px;
}

.container {
	width: 980px;
	margin: 0 auto;
}

navigation.categories ul {
	list-style: none;
	width: 230px;
	float: left;
	margin: 0 10px;
	padding: 0;
}

navigation.categories li {
	padding: 5px 5px;
	margin: 5px 0;
	background-color: #6ee0ea;
	font-weight: bold;
}

navigation.categories li:hover {
	background-color: #6ebbea;
	cursor: pointer;
}

#content {
	float: right;
	width: 730px;
}

#content ul {
	list-style: none;
	-webkit-column-count:4;
	-moz-column-count:4;
	-ms-column-count:4;
	-o-column-count:4;
	column-count:4;
}

#content ul li {
	margin: 0 auto;
	text-align: center;
}

#content ul li img {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

#content ul li:hover {
	font-weight: bold;
	color: green;
	cursor: pointer;
}